$cadet-grey: #96acb7;
$tea-green: #d4e4bc;
$yin-min-blue: #36558f;
$delft-blue: #40376e;
$persian-red: #cc2936;
$indigo-dye: #08415c;
$eggplant: #533747;
$tiffany-blue: #86bbbd;
$hunter-green: #3e5641;
$flame: #d36135;
$robin-egg-blue: #25ced1;
$emerald: #44cf6c;
$dark-grey: #bbbbbb;
$pre-verse: #dd00dd;
